---
import Layout from "../layouts/Layout.astro";
---
<Layout />

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h1 class="mb-4 text-5xl tracking-tight font-extrabold text-white">sadasddsa</h1>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</header>
</Layout>