---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import HeaderButton from '../components/HeaderButton.astro';
---

<Layout title="Taller Pablo">
	<main>
		<Header />
	</main>
</Layout>

